/*LIST
SIDEBAR*/
#block-menu-menu-product-menu
{
	background: #D2D0D0;
	padding: 0 0 10px;
}
#block-menu-menu-product-menu H2
{
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	background: url(./../images/title-bg.png) repeat-x;
	height: 42px;
	line-height: 37px;
}
#block-menu-menu-product-menu UL
{
	margin: 10px 0 0;
	padding: 0;
}
#block-menu-menu-product-menu UL LI UL
{
	margin: 5px 0 15px 10px;
	height: 20px;
}
#block-menu-menu-product-menu.block UL.menu LI UL LI A
{
	background: #FFFFFF;
	margin: 5px;
	height: 26px;
	text-decoration: none;
	color: #1F1C1C;
	font-size: 11px;
	padding: 2px 0 2px 10px;
	width: 172px;
	display: block;
}
#block-menu-menu-product-menu.block UL.menu LI A
{
	background: #FFFFFF;
	margin: 5px;
	height: 26px;
	text-decoration: none;
	color: #1F1C1C;
	font-size: 11px;
	padding: 2px 0 2px 10px;
	width: 182px;
	display: block;
}
#block-menu-menu-product-menu.block UL.menu LI A:HOVER
{
	background: #F90303;
	color: #FFFFFF;
}
#block-menu-menu-product-menu.block UL.menu LI
{
	list-style: none;
}
/*CATEGORY VIEW*/
.node-product-display
{
	width: 181px;
	text-align: center;
}
.page-views H1
{
	font-size: 20px;
	font-weight: normal;
	background: url(./../images/title-bg.png) repeat-x;
	height: 37px;
	color: #FFFFFF;
	padding: 5px 0 0 20px;
	text-transform: uppercase;
	margin: 7px;
	width: 695px;
}
.page-views #main
{
	background: none;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	padding: 0;
	margin: 0 auto;
}
.page-views #main #content
{
	background: #FFFFFF;
	/*+box-shadow:0px 2px 12px rgba(0, 0, 0, 0.3);*/
	-moz-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}
.page-views #main .region-sidebar-first
{
}
.page-views .node-product-display H2 A
{
	font-size: 12px;
	text-decoration: none;
	color: #302A2A;
	text-transform: uppercase;
	font-weight: normal;
}
.page-views .node-product-display .field-type-image
{
	text-align: center;
	border: 1px solid #C4BFBF;
	width: 133px;
	margin: 10px auto;
}
.page-views .node-product-display .field-type-image IMG
{
	width: 60px;
	padding: 20px;
}
.page-views .node-product-display .node-readmore
{
	display: none;
}
/*PRODUCT VIEW*/
.node-product-display.view-mode-full .field-type-image IMG
{
	width: 148px;
	float: left;
}
.node-product-display.view-mode-full
{
	width: 730px;
	text-align: center;
	margin: 0;
	padding: 0;
}
#page H1
{
	font-size: 20px;
	font-weight: normal;
	background: url(./../images/title-bg.png) repeat-x;
	height: 37px;
	color: #FFFFFF;
	padding: 5px 0 0 10px;
	text-transform: uppercase;
	margin: 0;
	width: 700px;
}
#page #main
{
	background: none;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	padding: 0;
	margin: 0 auto;
}
#page #main #content
{
	background: #FFFFFF;
	/*+box-shadow:0px 2px 12px rgba(0, 0, 0, 0.3);*/
	-moz-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
	min-height: 500px;
	padding: 20px 20px 50px;
	width: 706px;
}
#page #main .region-sidebar-first
{
}
.node-product-display .view-mode-full H2 A
{
	font-size: 12px;
	text-decoration: none;
	color: #302A2A;
	text-transform: uppercase;
	font-weight: normal;
}
.node-product-display.view-mode-full P
{
	width: 417px;
	float: left;
	margin: 10px 0 10px 20px;
	font-size: 9px;
	text-align: left;
}
.node-product-display.view-mode-full .field-type-commerce-price
{
	width: 120px;
	float: left;
	text-align: left;
	margin: 10px 0 10px 20px;
	font-size: 17px;
	font-weight: bold;
}
.node-product-display.view-mode-full, .commerce-add-to-cart SELECT
{
	float: left;
	margin: 10px 0 0;
}
.node-product-display.view-mode-full .commerce-add-to-cart .form-item-quantity INPUT
{
	float: left;
	margin: 15px 0 0 20px;
	width: 87px;
}
.node-product-display.view-mode-full .commerce-add-to-cart .form-item-quantity LABEL
{
	float: left;
	margin: 15px 0 0;
}
.node-product-display.view-mode-full .commerce-add-to-cart .form-submit
{
	margin: 15px 0 0;
	border: none;
	background: #F60101;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 3px 5px;
	font-weight: bold;
}
.node-product-display.view-mode-full .field-type-image
{
	border: 1px solid #C4BFBF;
	width: 248px;
	height: 363px;
	float: left;
	margin: 0 0 0 20px;
}
.node-product-display.view-mode-full .field-type-image IMG
{
	width: 148px;
	float: left;
	padding: 0 50px;
}
.node-product-display.view-mode-full .field-item A
{
	display: none;
}
.node-product-display .node-readmore
{
	display: none;
}
/*SHOPPING CART SIDEBAR*/
.region-sidebar-first #block-commerce-cart-cart
{
	background: #FFFFFF;
	/*+box-shadow:0px 2px 3px rgba(0, 0, 0, 0.3);*/
	-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
.region-sidebar-first #block-commerce-cart-cart H2
{
	background: url(./../images/title-bg.png) repeat-x;
	height: 30px;
	color: #FFFFFF;
	font-size: 17px;
	text-align: center;
	padding: 5px 0 0;
	text-transform: uppercase;
	width: 205px;
}
.region-sidebar-first #block-commerce-cart-cart .cart-empty-block
{
	padding: 30px 10px;
	font-size: 12px;
}
.region-sidebar-first #block-commerce-cart-cart .line-item-summary
{
	padding: 10px;
	background: #F1F1F2;
	color: #343030;
	font-size: 12px;
}
.region-sidebar-first #block-commerce-cart-cart .line-item-quantity
{
	margin: 0 0 0 5px;
}
.region-sidebar-first #block-commerce-cart-cart TABLE TR
{
	background: #FAFAFA;
	font-size: 11px;
	width: 70px;
	margin: 0 auto;
}
.region-sidebar-first #block-commerce-cart-cart TABLE
{
	width: 190px;
	margin: 10px auto;
	background: none;
	padding: 0px;
}
#block-commerce-cart-cart .line-item-summary-view-cart A
{
	text-decoration: none;
	background: #F60101;
	color: #FFFFFF;
	padding: 5px;
	position: relative;
	top: 10px;
	text-transform: uppercase;
	font-size: 12px;
}
#block-commerce-cart-cart .line-item-summary-checkout A
{
	font-size: 12px;
	text-transform: uppercase;
	position: relative;
	top: 10px;
	text-decoration: none;
	background: #F60101;
	color: #FFFFFF;
	padding: 5px;
}
/*ADMIN PAGE*/
.page-user #content .region-content
{
	width: 690px;
	margin: 0 0 0 20px;
}
#user-login INPUT.form-submit
{
	background: #F20101;
	border: none;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 5px 20px;
	font-size: 15px;
}
/*CART PAGE*/
.page-cart .view-commerce-cart-form .views-table
{
	width: 710px;
}
.page-cart .commerce-line-item-views-form THEAD
{
	border: none;
	color: #5B5456;
	text-transform: uppercase;
}
.page-cart .commerce-line-item-views-form THEAD .views-field
{
	padding: 0 0 9px;
	border: none;
}
.page-cart .view-commerce-cart-form .views-table TR.odd
{
	background: #FCFCFC none;
	/*[empty]border:;*/
	height: 38px;
}
.page-cart .view-commerce-cart-form .views-table TR.even
{
	background: #EAE9E9 none;
	/*[empty]border:;*/
	height: 38px;
}
.page-cart .commerce-line-item-views-form TABLE.views-table.cols-5 THEAD TR TH
{
	border: none;
}
.page-cart .commerce-line-item-views-form TABLE .odd .views-field, .page-cart .commerce-line-item-views-form TABLE.views-table.cols-5
{
	padding: 7px 5px 0;
}
.page-cart .commerce-line-item-views-form TABLE .even .views-field, .page-cart .commerce-line-item-views-form TABLE.views-table.cols-5
{
	padding: 7px 5px 0;
}
.page-cart .commerce-line-item-views-form INPUT.form-text
{
	padding: 4px 0 0 4px;
	text-align: center;
	margin: 4px 0 0 4px;
}
.page-cart .commerce-line-item-views-form INPUT.delete-line-item.form-submit
{
	background: #CBC9C9;
	border: none;
	padding: 5px;
	margin: -5px 0 0;
}
.page-cart .view-commerce-cart-form .views-table TABLE
{
	border: none;
}
.page-cart .commerce-line-item-views-form .commerce-line-item-actions INPUT.form-submit
{
	background: #F32C2C;
	border: none;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 5px 10px;
}
