/**
* @file
* Navigation Styling


* The active item in a Drupal menu
 */
LI A.active
{
	color: #000;
}
/*
* Navigation bar
 */
#navigation
{
/*overflow: hidden; /* Sometimes you want to prevent overlapping with main div.*/
}
#navigation UL.links, #navigation .content UL
{
	margin: 0;
	padding: 0;
	text-align: right;
/*LTR*/
}
#navigation UL.links LI, #navigation .content LI
{
	float: left;
/*LTR*/
	padding: 0 10px 0 0;
/*LTR*/
}
.region-navigation
{
}
/*
* Main menu and Secondary menu links
 */
#main-menu
{
	background: #F60001;
	height: 40px;
	width: 919px;
}
#main-menu A
{
	color: #FFFFFF;
	text-decoration: none;
}
#secondary-menu
{
	float: right;
}
/** HEADER NICE **/
.region-header UL#nice-menu-1.nice-menu
{
	width: 507px;
	height: 31px;
	margin: 9px 0 0 450px;
}
.region-header UL#nice-menu-1.nice-menu UL
{
	background: rgba(0, 0, 0, 0.9);
	/*+box-shadow:0px 3px 5px rgba(0, 0, 0, 0.3);*/
	-moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
	margin: 10px 0 0;
}
.region-header UL#nice-menu-1.nice-menu LI
{
	background: none;
	border: none;
	display: inline;
	padding: 0 10px;
}
.region-header UL#nice-menu-1.nice-menu LI A
{
	color: #FFFFFF;
	text-decoration: none;
}
/*HEADER USER MENU*/
.region-header-top
{
	/*[disabled]display:inline;*/
	width: 494px;
	height: 63px;
	position: relative;
	left: 235px;
	top: 0px;
	background: url('../images/my-account-bar.png') no-repeat;
	float: left;
}
.region-header-top #block-menu-menu-checkin-menu UL, .region-header-top #block-menu-menu-checkout-menu UL
{
	/*[disabled]display:inline;*/
	position: relative;
	top: -18px;
	left: 76px;
	width: 140px;
	float: left;
}
.region-header-top #block-menu-menu-checkin-menu UL LI, .region-header-top #block-menu-menu-checkout-menu UL LI
{
	display: inline;
	padding: 7px 12px;
}
.region-header-top #block-menu-menu-checkin-menu UL LI A, .region-header-top #block-menu-menu-checkout-menu UL LI A
{
	color: #FFFFFF;
	text-decoration: none;
}
/*PHONE BLOCK*/
.region-header-top #block-block-1
{
	width: 184px;
	float: left;
	color: #FFFFFF;
	height: 47px;
	background: none;
	margin: -20px 0 0 30px;
	padding: 0;
}
/** Menu blocks*/
.block-menu
{
}
/** "Menu block" blocks
*
* Drupal core has limited ways in which it can display its menus. To get around
* these limitations, see http://drupal.org/project/menu_block
 */
.block-menu-block
{
}
/*USER MENU*/
#header .block.block-menu
{
	float: left;
}
